@model Alumno
@{
    ViewData["Title"] = "Información Alumno";
    @* Layout = "_Simple"; *@
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>

<partial name="_ObjetoEscuelaSimple" />    

@* <p>ViewBag Fecha: @ViewBag.FechaAsignatura</p> *@
