@model IEnumerable<Alumno>
@{
    ViewData["Title"] = "Información Alumno";
}

<h1>@ViewData["Title"]</h1>

@* <strong>Desde la vista parcial</strong> *@


<strong>Desde la vista parcial</strong>
<partial name="_ListaObjetoEscuela" />    

