@model Asignatura
@{
    ViewData["ViewDataName"] = "Información Asignatura";
    ViewData["Title"] = "Información Asignatura";

}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>

<partial name="_ObjetoEscuelaSimple" />    

<h3>cosa dinamica: @ViewBag.CosaDinamica</h3>
<h3>Fecha: @ViewBag.FechaAsignatura</h3>
