@model List<Asignatura>
@{
    ViewData["ViewDataName"] = "Información Asignatura";
    ViewData["Title"] = "Información Asignatura";
    @* Layout = "_Simple"; *@
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>

@foreach (var asignatura in Model)
{
    <partial name="_AsignaturaSimple" model="asignatura" />    
}
<p>ViewBag Fecha: @ViewBag.FechaAsignatura</p>
