@model IEnumerable<Asignatura>
@{
    ViewData["ViewDataName"] = "Información Asignatura";
    ViewData["Title"] = "Información Asignatura";
    @* Layout = "_Simple"; *@
}

<h1>@ViewData["Title"]</h1>


<strong>Desde la vista parcial</strong>
<partial name="_ListaObjetoEscuela" />


